extends documentWrapper

block title
  title #{title}

append meta 
  meta( name='description', content='#{description}' )

block background
  include background

block debugging
  if env=="dev"
    .debugging  Debugging is ON
    script(src="dev-bundle.js")
    link(rel="stylesheet",href="site.css")
  else
    .debugging  In Production Show Production Hash?
    script(src="#{locals['dist/bundle.js'].substr(5)}")
    link(rel="stylesheet",href="#{locals['dist/site.css'].substr(5)}")

append style
  // link(rel="stylesheet",href="#{locals['dist/site.css'].substr(5)}")

block navigation
  include navigation
  
block content
  include layoutLanding

block footer
  include footer

